body {
  background-color: #151515;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 90%;
  margin: auto;
}

h1 {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  color: #726AFF;
}

#contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  border-bottom: 1px dotted rgb(42, 42, 42);
}
#contact-links .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  border-top: 1px dotted rgb(42, 42, 42);
  padding: 1.4rem 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
}
#contact-links .link a p {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  color: #726AFF;
}
#contact-links .link a:hover {
  padding-left: 1.5rem;
}

@media screen and (min-width: 48rem) {
  #container {
    width: 50%;
    margin-top: 8rem;
  }
}
@media screen and (min-width: 64rem) {
  #container {
    width: 40%;
  }
  h1 {
    text-align: center;
  }
}