header {
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logo, nav a {
  text-decoration: none;
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  color: #151515;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 40rem) {
  header {
    margin: 2rem;
  }
}
@media screen and (min-width: 64rem) {
  header {
    margin: 2.5rem;
  }
}
#banner {
  margin: 1.5rem;
}

h1 {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}