* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  cursor: url("../../img/cursor.png"), auto;
}

#info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0 1rem 2rem;
}

#profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#profile img {
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#profile img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#note {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6rem;
  color: #726AFF;
  margin-top: 0.5rem;
}

#about {
  margin-top: 6rem;
}

#about h1 {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25rem;
  color: #726AFF;
  margin: 0;
}

#about p {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #151515;
  margin-top: 1rem;
}

#about h2 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #726AFF;
  margin-top: 4rem;
}

#about ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 1rem;
}

#about ul li {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #151515;
  width: 50%;
}

#resume {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #726AFF;
  margin-top: 4rem;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

#resume::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #726AFF;
  bottom: -0.5rem;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#resume:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (min-width: 48rem) {
  #info-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 6rem;
  }
  #profile {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #profile img {
    width: 50%;
  }
  #note {
    font-size: 0.7rem;
  }
  #about {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 0;
  }
  #about h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 64rem) {
  #info-wrapper {
    margin: 3.5rem 15rem;
  }
  #profile {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  #about h1 {
    font-size: 1.75rem;
  }
}