body {
  background-color: #F5F5F5;
}

#project-wrapper {
  margin: 0 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

h1 {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #726AFF;
  margin: 2rem 0;
}

#project-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0.5rem;
  border-bottom: 1px solid #726AFF;
  padding-bottom: 1rem;
}

h2 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  color: #726AFF;
  margin: 0.5rem 0 0.25rem;
}

p {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #151515;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

#project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 4rem;
  margin-top: 1.5rem;
}

#project-objective, #art-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.italic {
  font-style: italic;
}

.caption {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  line-height: 1rem;
}

#color-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.color {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  height: 8rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#kinetic-yellow {
  background-color: #FEB101;
}

#kinetic-red {
  background-color: #ED6560;
}

#kinetic-blue {
  background-color: #72C5CD;
}

#kinetic-green {
  background-color: #33B792;
}

#kinetic-ivory {
  background-color: #FCEDDF;
}

#kinetic-black {
  background-color: #151515;
}

h3 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  color: #151515;
  margin: 3rem 0 0.5rem;
  line-height: 1.5rem;
}

.full-width {
  width: 100%;
}

.half {
  width: 49%;
}

.third {
  width: 33%;
}

.img-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#other-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#other-projects a {
  color: #726AFF;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

#other-projects a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #726AFF;
  bottom: -0.5rem;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#other-projects a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (min-width: 48rem) {
  #project-wrapper {
    margin: 6rem;
  }
}
@media screen and (min-width: 64rem) {
  #project-wrapper {
    margin: 8rem 15rem;
  }
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.3rem;
    margin: 0.5rem 0;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .caption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  #project-overview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  #project-overview div {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .color {
    -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
  }
}