// Biennale Architettura Project Page
@import "colors"

body
    background-color: $light
    cursor: url("../../img/cursor.png"), auto

#project-wrapper
    margin: 0 1rem 4rem
    display: flex
    flex-flow: column nowrap

h1
    font-family: "Libre Caslon Text", serif
    font-weight: 400
    font-style: normal
    font-size: 3rem
    color: $main
    margin: 2rem 0

#project-overview
    display: flex
    flex-flow: column nowrap
    gap: 0.5rem
    border-bottom: 1px solid $main
    padding-bottom: 1rem

h2
    font-family: "Schibsted Grotesk", sans-serif
    font-weight: 600
    font-style: normal
    font-size: 1.1rem
    color: $main
    margin: 0.5rem 0 0.25rem

p
    font-family: "Schibsted Grotesk", sans-serif
    font-weight: 400
    font-style: normal
    font-size: 0.9rem
    color: $dark
    line-height: 1.6rem
    margin-bottom: 1rem

#project-details
    display: flex
    flex-flow: column nowrap
    gap: 4rem
    margin-top: 1.5rem

#project-objective, #art-direction
    display: flex
    flex-flow: column nowrap
    
.caption
    font-size: 0.7rem
    margin: 0.25rem 0 1rem
    line-height: 1rem

.half-width
    width: 50%
    height: auto

#color-wrapper, #poster-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: space-between

.color
    flex-basis: 25%
    height: 8rem

#biennale-primary
    background-color: #E03C00

#biennale-secondary
    background-color: #332C29

#biennale-white
    background-color: #D9D9D9

#biennale-black
    background-color: #2F2F2F

h3
    font-family: "Schibsted Grotesk", sans-serif
    font-weight: 600
    font-style: normal
    font-size: 0.9rem
    color: $dark
    margin: 3rem 0 0.5rem
    line-height: 1.6rem

.concept-wrapper
    display: flex
    flex-flow: column nowrap
    gap: 1rem
    margin-bottom: 2rem

.concept-item
    display: flex
    flex-flow: row nowrap
    padding: 1rem
    background-color: #FFFFFF
    align-items: flex-start
    justify-content: space-between
    gap: 1rem
    text-align: right
    filter: drop-shadow(0 0.1rem 0.1rem rgb(195, 195, 195))

.concept-item img
    height: 10rem
    width: auto

.concept-item p
    width: 50%

#img-grouping
    width: 100%
    height: auto

#poster-wrapper
    display: flex
    flex-flow: row wrap

.poster-item
    width: 32%

.poster
    width: 100%
    height: auto

#poster-iterations
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    margin-top: 2rem

#poster-iterations img
    width: 18%
    height: auto

#asset-translation
    display: flex
    flex-flow: row wrap
    gap: 1rem
    justify-content: space-between

#asset-translation img
    width: 47%
    height: auto
    object-fit: cover

.full-width
    width: 100%
    height: auto

#other-projects
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

.project-link
    display: flex
    flex-direction: row
    gap: 0.5rem

.project-link h3, .project-link a
    font-family: "Schibsted Grotesk", sans-serif
    font-weight: 600
    font-style: normal
    font-size: 0.9rem
    color: $main
    text-decoration: none
    position: relative
    text-transform: uppercase
    margin: 0
    line-height: 0.9rem
    cursor: url("../../img/pointer.png"), pointer

.project-link a::before
    content: ''
    position: absolute
    width: 100%
    height: 0.1rem
    background-color: $main
    bottom: -0.5rem
    left: 0
    transform-origin: right
    transform: scaleX(0)
    transition: transform 300ms ease-in-out

.project-link a:hover::before
    transform-origin: left
    transform: scaleX(1)

.align-right
    text-align: right

@media screen and (min-width: 48rem)
    #project-wrapper
        margin: 1.5rem 6rem 6rem

    h1
        font-size: 3.25rem

    .concept-wrapper
        flex-flow: row wrap
        gap: 1rem
    
    .concept-item
        flex-basis: 48%

    #asset-translation img
        width: 48%
    
@media screen and (min-width: 64rem)
    #project-wrapper
        margin: 1.5rem 15rem 6rem
    
    h1
        text-align: center
        font-size: 3.75rem

    h2
        font-size: 1.3rem
        margin: 0.5rem 0

    h3
        font-size: 1rem
    
    p
        font-size: 1rem
        line-height: 1.75rem
    
    .caption
        font-size: 0.9rem
        margin: 0.5rem 0 2rem
    
    #project-overview
        flex-flow: row nowrap
        justify-content: center
        gap: 1rem
        margin-top: 2rem
    
    #project-overview div
        flex-basis: 25%
    
    #img-grouping
        width: 48%
    
    .concept-item p
        width: 49%

    .project-link h3, .project-link a
        font-size: 1rem
        line-height: 1rem