// header
@import "colors"

header
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    padding: 1.5rem 1rem

#logo, #nav-list nav a, #nav-resume a
    text-decoration: none
    font-family: "Schibsted Grotesk", sans-serif
    font-weight: 500
    font-style: normal
    text-transform: uppercase
    font-size: 0.75rem
    color: $main
    
#nav-list nav
    display: flex
    gap: 1rem

#nav-resume
    display: none

@media screen and (min-width: 40rem)
    header
        padding: 1.5rem
    
    #logo, #nav-list nav a, #nav-resume a
        font-size: 0.9rem

    #nav-resume
        display: block

@media screen and (min-width: 64rem)
    header
        padding: 2rem
    
    #logo, #nav-list nav a, #nav-resume a
        font-size: 1rem
    
    #nav-list nav
        gap: 2rem
    


