doctype html
html(lang="en")

    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title About Daffodil Ho

    body
        include inc/_header.pug

        h1 Hello
        p I’m a third-year student at Simon Fraser University’s School of Interactive Arts & Technology. Currently, I’m pursuing concentrations in designing interactions and design & development for web & mobile.
        p I’ve had the opportunity to work on a variety of projects that utilize a wide range of creative skills; from visual identity & marketing design, UI design, and coding, to animation, videography, and sound design.

        h2 Skills 
        ul 
            li Design principles 
            li Ideation
            li Branding
            li Typography 
            li Designing for print 
            li Web design 
            li Front-end development 
            li Storyboarding 
            li Videography 
            li Sound design 

        h2 Tools 
        ul 
            li Figma 
            li Illustrator 
            li Photoshop 
            li InDesign 
            li After Effects 
            li Premiere Pro
            li Canva 
            li HTML + Pug 
            li CSS + Sass 
            li JavaScript 
            li Reaper 
            li Arduino 
            li Processing