doctype html
html(lang="en")

    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Daffodil Ho's Portfolio

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet")

        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/header.css")
        link(rel="stylesheet", href="css/biennale-project.css")

    body
        include inc/_header.pug

        div#project-wrapper
            h1 Biennale Architettura
            
            section#project-overview
                div 
                    h2 Duration 
                    p June 2024 (1 month)
                div
                    h2 Role
                    p Graphic Designer
                div
                    h2 Tools
                    p Figma, Photoshop
                div
                    h2 Team
                    p Colvin Wong, Kirsten Lee, Lily Imus, Zainab Shakeel  
            
            section#project-details
                section
                    h2 Project objective
                    p Develop a visual identity and design a microsite and two assets for the 17th Biennale Architettura Exhibition.
                
                img(src="../img/biennale-project-cover.webp", alt="Microsite")
                p.caption Microsite Walkthrough
    
                img#asset1(src="../img/biennale-asset1.webp", alt="Billboard as an asset")
                p.caption Asset 1 - Billboard

                img#asset2(src="../img/biennale-asset2.webp", alt="Hot Air Balloon")
                p.caption Asset 2 - Hot Air Balloon

                section
                    h2 Art direction
                    p A red-orange hue and its shade, along with a tint and a shade of grey makes up this monochromatic color palette. The vibrant red-orange emphasizes certain parts of the design without being as overpowering as red. It is chosen for its strong association with creativity.
                    p The display font is GT Walsheim in a medium weight. The typeface has a symmetrical design and when used in a condensed style, creates rectangular shapes that is coherent with the shapes used in the design. GT Flexa Mono is naturally condensed and quite bold at a regular weight, which makes it legible and also why it is chosen.
                div#color-wrapper
                    div#biennale-primary.color 
                    div#biennale-secondary.color 
                    div#biennale-white.color 
                    div#biennale-black.color 
                p.caption Monochromatic Color Palette

                img(src="../img/biennale-typography.png", alt="Typography")
                p.caption Typography

                div
                    h2 Design process
                    p We started by studying Ellen Lupton’s design principles and Chris Ashworth’s design qualities. We chose two principles and three qualities, and grouped images that matched the principles and qualities. This would give us a better idea of how to apply them in our design process.
                
                div.list-wrapper 
                    h2 Design principles 
                    ul
                        li 1. Creating spatial planes with graphic transparency
                        li 2. Misaligning text to break structure  

                    h2 Design qualities 
                    ul 
                        li 1. Overlapping elements to develop narratives
                        li 2. Off-grid arrangement for visual weight
                        li 3. Placement of shapes to create tension

                img(src="../img/image-grouping.png", alt="Picture of Image Grouping")
                p.caption Final image grouping according to principle and quality

                p We developed 3 lines of investigation by combining one principle with one quality. We then designed multiple posters for each line, experimenting with different typefaces, color, and image treatment.

                div.list-wrapper 
                    h2 3 Lines of investigation
                    ul
                        li 1. Placement of shapes and misaligned text
                        li 2. Off-grid arrangement and misaligned text
                        li 3. Overlapping elements & misaligned text
                
                div#poster-wrapper
                    img.poster(src="../img/biennale-poster1.webp", alt="Poster Iterations")
                    img.poster(src="../img/biennale-poster2.webp", alt="Poster Iterations")
                    img.poster(src="../img/biennale-poster3.webp", alt="Poster Iterations")
                p.caption Final version of poster iterations

                p As our art direction takes shape, we experimented with the translation of each line to graphic assets.

                img(src="#", alt="Graphic Asset Iterations")
                p Graphic Asset Iterations

                p Once we finalized our art direction,  we started building the microsite. In smaller teams, we worked on content planning, user flow, wireframing, visual design, interaction design, and prototyping.

                img(src="#", alt="User Flow")
                p User Flow

                img(src="#", alt="Landing Page Direction")
                p Landing Page Direction from functional to abstract

                img(src="#", alt="Interaction Design")
                p Interaction Design

                div
                    h2 Challenges and Reflection
                    p The four-week time constraint presented a challenge to our team. All of us had different schedules, took other classes, and some also had part-time work. We approached this by having clear role delegations, while still being flexible in assisting other team members when necessary. We adopted a more agile approach, simultaneously carrying out planning, design, and prototyping phases. This allowed us to complete the project in time.
                    p Through this project I familiarized myself with Figma, applied various design principles, and learned to improve my work through image treatment, font pairings, and layout design. It also taught me about design thinking methodologies and collaborating with a team in a short time. 


