doctype html
html(lang="en")

    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Daffodil Ho's Portfolio

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet")

        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/header.css")
        link(rel="stylesheet", href="css/contact.css")

    body
        include inc/_header.pug

        div#wrapper
            h1
                span.block-display Feel Free To 
                span.block-display.italic Reach Out.

            div#contact-wrapper
                div#contact-links 
                    div.link
                        img.bullet(src="../img/email-icon.png", alt="email icon" width="96" height="96")
                        div.hoverline
                            a(href="mailto:dlh12@sfu.ca") dlh12@sfu.ca
                            
                    div.link
                        img.bullet(src="../img/linkedin-icon.png", alt="linkedin icon" width="96" height="96")
                        div.hoverline
                            a(href="https://www.linkedin.com/in/daffodil-ho-844b96199/" target="_blank") LinkedIn
                    
                    div.link
                        img.bullet(src="../img/instagram-icon.png", alt="instagram icon" width="96" height="96")
                        div.hoverline
                            a(href="https://www.instagram.com/defodiru?igsh=MWlqZjdoM2c5NTFkZQ==" target="_blank") Instagram
                    
                    div.link
                        img.bullet(src="../img/resume-icon.png", alt="resume document icon" width="96" height="96")
                        div.hoverline
                            a(href="../resume.pdf" target="_blank") Resume
                
                p Graphic Designer based in Vancouver, Canada. Currently open to freelance work.

            div#image-wrapper 
                img(src="../img/reach-out.webp", alt="")
                //- Photo by Sebastian Dumitru on Unsplash
                
                
            
                 
            
            
            
            
                        