doctype html
html(lang="en")

    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Daffodil Ho's Portfolio
        link(rel="icon" href="../img/favicon.png")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet")

        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/header.css")
        link(rel="stylesheet" href="css/index.css")

    body
        include inc/_header.pug

        section#banner
            h1 
                span.block-display Graphic Designer
                span.block-display.italic & Visual Storyteller

        section#projects
            div.project-wrapper
                img.bullet(src="../img/bullet.png", alt="square bullet icon" width="12" height="12")
                h2 Biennale Architettura
                p Visual identity design for an architecture exhibition
                a(href="biennale-project.html")
                    img.project-cover(src="../img/biennale-project-cover.webp", alt="View Biennale Architettura Project" width="1980" height="1485")
            
            div.project-wrapper
                img.bullet(src="../img/bullet.png", alt="square bullet icon" width="12" height="12")
                h2 Kinetic Typography
                p Animated lyrics for 
                    span.italic I'm So Happy 
                    span by Jeremy Zucker
                a(href="kinetic-project.html")
                    img.project-cover(src="../img/kinetic-project-cover.webp", alt="View Kinetic Typography Project" width="1138" height="640")
            
            div.project-wrapper
                img.bullet(src="../img/bullet.png", alt="square bullet icon" width="12" height="12")
                h2 East Side Games
                p Brand identity design for a mobile game company
                a(href="east-project.html")
                    img.project-cover(src="../img/east-project-cover.webp", alt="View East Side Games Project" width="1920" height="1080")