doctype html
html(lang="en")

    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Daffodil Ho's Portfolio

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet")

        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/header.css")
        link(rel="stylesheet", href="css/kinetic-project.css")

    body
        include inc/_header.pug

        div#project-wrapper
            h1 Kinetic Typography
        
            section#project-overview
                div 
                    h2 Duration 
                    p March 2024 (1 month)
                div
                    h2 Role
                    p Motion Designer
                div
                    h2 Tools
                    p Illustrator, After Effects
            
            section#project-details
                section#project-objective
                    h2 Project Objective & Results
                    p Create a visually engaging text animation that reflects the rhythm and tone of a song or dialogue. For this, I animated a section of the lyrics from Jeremy Zucker's song 
                        span.italic I'm So Happy.
                    
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/932274894?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Motion Graphic Animation - I&#039;m So Happy"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    p.caption Final animated video

                section#art-direction
                    h2 Art Direction
                    p I created a custom color palette that consists of colors that could evoke feelings of joy and calmness. To ensure cohesiveness, the video incorporates only the chosen colors along with their shades and tints.
                    p I chose Rubik as the primary font for its rounded corners, which convey a sense of friendliness and fun. Additionally, Rubik Bubbles and Rubik Scribble were used to mimic the appearance of clouds and writing in the sand.

                    div#color-wrapper
                        div#kinetic-ivory.color 
                        div#kinetic-yellow.color 
                        div#kinetic-red.color 
                        div#kinetic-blue.color 
                        div#kinetic-green.color 
                        
                        div#kinetic-black.color 
                    p.caption Custom color palette that could evoke feelings of joy and calmness

                    img(src="../img/kinetic-typography.webp", alt="Typography")
                    p.caption Rubik typefaces used in the video

                section
                    h2 Design Process
                    p My animation process is divided into two phases: planning and animating. In the planning phase, I conducted research, developed a storyboard, and established the art direction. In the animating phase, I created graphic assets and animated the text sentence by sentence.

                    h3 Research
                    p While brainstorming scenes, I explored projects on Youtube for inspiration. Here are two examples that inspired the overall vibe of my project.
                    img.full-width(src="../img/kinetic-ref1.webp", alt="Typography")
                    p.caption 
                        a(href="https://youtu.be/WYpiQdY8xj0?si=bmwsPqwIzj2fAVjB" target="_blank") Kinetic Typography Lyrics Video by Duongrafik &#x2197

                    img.full-width(src="../img/kinetic-ref2.webp", alt="Typography")
                    p.caption
                        a(href="https://youtu.be/aejbTf8Y0_0?si=YVERkBn9aIRlLRiv" target="_blank") Animated Lyrics by Maginpanic &#x2197

                    h3 Storyboard
                    p I created a rough storyboard as reference for designing each scene. Sketching on paper helped me visualize concepts and quickly experiment with ideas.
                    img.full-width(src="../img/kinetic-storyboard.webp", alt="Typography")
                    p.caption Storyboard
                
                    h3 Typography Selection
                    p I created a google doc to experiment with various typefaces.
                    img.full-width(src="../img/kinetic-typographytest1.webp", alt="Typography")
                    img.full-width(src="../img/kinetic-typographytest2.webp", alt="Typography")
                    p.caption Experimenting with different typefaces

                    h3 Animating
                    p I animated the video sentence by sentence, with each composition containing one or two sentences. All compositions were then compiled into a single main composition. The following image shows my main composition arrangement.
                    img.full-width(src="../img/kinetic-workflow.webp", alt="Typography")
                    p.caption Main composition in After Effects

                    h3 Theory Application
                    p In this project, I applied animation principles and camera transitions to enhance movement and fluidity.
                    p To create the illusion of weight, I used the “squash and stretch” principle on the bouncing smiley face by adjusting its scale. I also applied the "arcs" principle to ensure a smooth, natural bounce by refining the position keyframes and incorporating ease-ins and ease-outs. Additionally, I fine-tuned the motion by adjusting individual keyframes in the graph editor for a more polished flow.
                    div.img-wrapper
                        img.third(src="../img/kinetic-principle1.webp", alt="Typography")
                        img.third(src="../img/kinetic-principle2.webp", alt="Typography")
                        img.third(src="../img/kinetic-principle3.webp", alt="Typography")
                    p.caption Squash and stretch principle

                    img.full-width(src="../img/kinetic-principle4.webp", alt="Typography")
                    p.caption Arcs principle

                    p I incorporated camera movements to create seamless transitions. For example, in this scene I used a combination of dolly out, pan, and truck. This was achieved by utilizing 3D layers, a null object, and adjusting the camera’s depth of field and aperture.
                    div.img-wrapper
                        img.half(src="../img/kinetic-transition1.webp", alt="Typography")
                        img.half(src="../img/kinetic-transition2.webp", alt="Typography")
                    p.caption Transition using camera movements

                section
                    h2 Challenges and Takeaways
                    p One of the main challenges I faced was determining how to transition smoothly between scenes. For instance, I struggled to find a fitting transition between these two scenes.
                    div.img-wrapper
                        img.half(src="../img/kinetic-challenge1.webp", alt="Typography")
                        img.half(src="../img/kinetic-challenge2.webp", alt="Typography")
                    p.caption Lost in transition
                    img.full-width(src="../img/kinetic-challenge3.webp", alt="Typography")
                    p.caption Drafting on paper helped me develop the idea of a wave sweeping up as a transition.

                    p Another challenge was ensuring the elements moved as intended while keeping timing in mind. For example, animating the walking crab involved rotating and positioning each leg individually, and the movement needed to be large enough to be visible, given the small size of the legs on screen. 
                    img.full-width(src="../img/kinetic-challenge4.webp", alt="Typography")
                    p.caption Controlling the keyframes for animating crab legs

                    p Despite these challenges, this project strengthened my understanding of animation principles. I gained hands-on experience using After Effects, particularly in working with 3D layers, camera movements, and keyframe adjustments. Moving forward, I plan to explore more complex animations and transitions, further refining both my technical and conceptual skills.

                section#other-projects
                    h3
                        a(href="biennale-project.html") &#8592 Biennale Architettura
                    
                    h3
                        a(href="east-project.html") East Side Games &#8594