doctype html
html(lang="en")

    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Biennale Architettura

    body
        include inc/_header.pug

        h1 Biennale Architettura
        
        section
            div 
                p Duration 
                p June 2024 (1 month)
            div
                p Role
                p Graphic Designer
            div
                p Tools
                p Figma, Photoshop
            div
                p Team
                p Zainab Shakeel, Lily Imus, Kirsten Lee, Colvin Wong
        
        section
            div
                h2 Project objective
                p Develop a visual identity and design a microsite and two assets for the 17th Biennale Architettura Exhibition.
            
            img(src="#", alt="Microsite")
            p Microsite Walkthrough
            
            img(src="#", alt="Billboard")
            p Asset 1 - Billboard

            img(src="#", alt="Hot Air Balloon")
            p Asset 2 - Hot Air Balloon

            img(src="#", alt="Color Palette")
            p Color Palette

            img(src="#", alt="Typography")
            p Typography

            div
                h2 Design process
                p We studied and analyzed Ellen Lupton’s design principles and Chris Ashworth’s design qualities. Then, we created 3 lines of investigation by combining one principle with one quality.
            
            img(src="#", alt="Lines of Investigation")
            p Lines of Investigation

            p We grouped images based on our lines of investigation. This was used to guide our poster creation process for visualizing our art direction.

            img(src="#", alt="Image Grouping")
            p Image Grouping

            p Next we designed and iterated on posters, incorporating the lines of investigation and using different typefaces, color, and image treatment.
            
            img(src="#", alt="Poster Iterations")
            p Poster Iterations

            p As our art direction takes shape, we experimented with the translation of each line to graphic assets.

            img(src="#", alt="Graphic Asset Iterations")
            p Graphic Asset Iterations

            p Once we finalized our art direction,  we started building the microsite. In smaller teams, we worked on content planning, user flow, wireframing, visual design, interaction design, and prototyping.

            img(src="#", alt="User Flow")
            p User Flow

            img(src="#", alt="Landing Page Direction")
            p Landing Page Direction from functional to abstract

            img(src="#", alt="Interaction Design")
            p Interaction Design

            div
                h2 Challenges and Reflection
                p The four-week time constraint presented a challenge to our team. We had 3 weeks to establish the art direction and complete the graphic assets, and 1 week to finish the microsite prototype. We approached this by having clear role delegations, while still being flexible in assisting other team members when necessary and giving timely feedback. We adopted a more agile approach, simultaneously carrying out planning, design, and prototyping phases.
                p Through this project I familiarized myself with Figma, applied various design principles, and learned to improve my work through image treatment, font pairings, and layout design. It also taught me about design thinking methodologies and collaborating with a team in a short time. 


