footer
    div 
        h2 Send me an email 
        a(href="#")  dlh12@sfu.ca

    div 
        h2 Connect
        ul 
            li 
                a(href="#") LinkedIn 
            li 
                a(href="#") GitHub
            li 
                a(href="#") Behance  

    div#copyright 
        h2 Design & Code By
        p &copy 2025 Daffodil Ho