header
    div#nav-brand
        a#logo(href="index.html") Daffodil Ho

    div#nav-list
        nav
            a(href="info.html") Info
            a(href="contact.html") Contact
    
    div#nav-resume
        a(href="../resume.pdf" target="_blank") Resume